body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #003973;
  background: -webkit-linear-gradient(to right, #003973,#E5E5BE);
  background: linear-gradient(to right, #003973,#E5E5BE);
}
.index-grid{

  top:0;
  left: 0;
  width:100%;
  height:100%;
  text-align:center;

}

.header{

  background: #003973;
  background: -webkit-linear-gradient(to right, #003973,#E5E5BE);
  background: linear-gradient(to right, #003973,#E5E5BE);

}
@media screen and (min-width:176px) and (max-width:900px){
  #banner-text h1{
    font-size:40px !important;

  }
}

  .title {
  background-color: black;
  opacity: .5;
  width:60%;
  margin:auto;
  border-radius:10px;
  text-align: center;
}

.title h1{
  font-size: 40px;
  font-weight: bold;
  color:white;
}

.avatar-img{
  height:150px;
  border-radius:50%;
}

.avatar-img:hover{
  animation:bounce 2s infinite;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  30%{
      transform: translateY(10px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-15px);
  }

}


#banner-text{
  background-color: black;
  opacity: .5;
  width:75%;
  margin:auto;
  border-radius:10px;
}
#banner-text h1{
  font-size: 60px;
  font-weight: bold;
  color:white;
}

#banner-text hr{
  border-top:5px dotted white;
  width:50%;
  margin:auto;

}

#banner-text p{
  color:white;
  font-size: 20px;
  padding:1em;
}

.social-links {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  width:50%;
  margin:auto;
}
@media screen and (min-width:176px) and (max-width:900px){
  .social-links{
    justify-content: center;
  }
}
.social-links i {
  color:white;
  font-size:4em;
  padding:8px;
}

#description p{
  color:white;
}
#description{
  text-align: justify;
  grid-area:a;
  border:1px solid white;
  border-radius: 5px;
  padding:10px;
  height:250px;
}
#contact{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  margin:auto;
  width:75%;
  border-radius:10px;
  text-align: center;
  background-color: black;
  opacity: .5;
  color:white;
}

#form{
  padding-top:10px;
  height:300px;

  grid-area: b;
}
#form-wrapper{
  padding-top:30px;
  display:grid;
  grid-template-columns: .25fr .6fr .5fr .25fr;
  grid-column-gap: 20px;
  grid-template-areas: ". a b. ";
}
@media (max-width:1050px){
  #form-wrapper{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: .5fr 1fr .5fr;

    grid-template-areas:". a ."
                        ". b .";

  }
  #contact{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin:auto;
    width:100%;
    border-radius:10px;
    text-align: center;
    background-color: black;
    opacity: .5;
    color:white;
  }

}
#email input{
  border-radius:5px;
  width:250px;
  text-align: center;
}

#message{
  margin-top:10px;

}
#message textarea{
  width:250px;
  border-radius:5px;
}

#email-button{
  text-decoration:none;
  color:black;
  border:1px solid white;
  background-color:white;
}
#email-button:hover{
  background-color:blue;
  color:white;
}

#quote-link{
  grid-area: a;
}

#journal-link{
  grid-area: b;
}
#landing-link{
  grid-area: c;
}
#libs-link{
  grid-area: d;
}

@media (min-width:700px){
  #project-container{
    display:grid;
    grid-template-columns: .5fr 1fr 1fr .25fr;
    grid-template-rows:1fr 1fr .25fr;
    grid-row-gap:30px;
    grid-column-gap:30px;
    grid-template-areas: ". a b ."
                         ". c d .";
  }

}

.project-image{
  height:200px;
  width:300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#journal-image{
   background-image: url("/journal-app.PNG");

}
#quote-image{
  background-image: url("/quote-app.PNG");

}
#landing-image{
  background-image: url("/landing-page.PNG");

}
#libs-image{
  background-image: url("/mad-libs.PNG");
}
#pilgrim-image{
  background-image: url("/pilgrim-alive.PNG");
}
#concordia-image{
  background-image: url("/concordia.PNG");
}

@media (max-width:700px){
  #project-container{
    display:grid;
    width:100%;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap:10px;
    grid-column-gap:10px;
    grid-template-areas:
                         ". a ."
                         ". b ."
                         ". c ."
                         ". d .";

  }
  .project-image{
    height:200px;
    width:250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
  #project-title{
    width:80%;
  }
}
  .overlay {

  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;

}

.project-image:hover .overlay {
  opacity: .9;
}
a{
  text-decoration: none;
  text-align:center;
}
.text {
  color: white;
  font-size: 30px;
  width:100%;
  padding-top:20px;
}
ul{
  text-align: justify;
  list-style-position: inside;
}

.project-group:hover {
  cursor: pointer;
  background-color: black;
  opacity: .5;
}

.project-group{
  width:100px;
  border: 1px solid white;
  color:white;
  margin:10px;
}

#project-select{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:20px;
  color:white;
}
